.App {
  font-family: sans-serif;
  text-align: center;
  margin: 20px;
}
.app-title{
  margin: 20px;
  padding: 10px;
}
.container1 {
 
  max-width: 300px;
  margin: 20px;
  border: 1px solid rgb(37, 5, 5);
  padding: 10px;
}
 .list{
  max-width: 300px;
  margin: 20px;
  border: 1px solid rgb(37, 5, 5);
  padding: 10px;
 }